/* font styles section */

.work-sans-<uniquifier> {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}


/* header section styles */
 /* commone styles section */

 :root{
    --main-color:#FF42A5;
    --title-font-size:48px;
    --discription-font-size:18px;
 }

.header-container{
    display: flex;
    justify-content: space-between;
    margin:36px 100px;

}

 header{
    background-color:rgb(252, 249, 244);
 }
 
.logo-section {
      display:flex;
      gap: 10px;
     
}
.logo-title{
    font-size: 40px;
    font-weight: 700;
    margin-top: 0px;
    margin-bottom: 0px;

}
.logo-G{
    
    color: var(--main-color);
}
.logo-section img {
    width: 100%;
    height: 60%;
  padding-top: 7px;
}

.link-section ul{
    display: flex;
    gap: 15px;
    padding-top: 5px;
}
.link-section li{
    list-style: none;  
}
.link-section a{
    text-decoration: none;
    color: black;
}
.link-section a:hover{
    background-color: #e1dfe9;
    padding: 15px;
    border-radius: 8px;
}
/* nav styles section  */

.nav-container{
    display: flex;
    justify-content:space-between;
   
    width: 100%;
    height: 450px; 
    gap:30px;
}
.nav-contant{
    padding-left: 100px;
}
.nav-title{
    font-size: 40px;
    margin-top: 48px;
    margin-bottom: 0px;
}
.nav-goat{
        background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
        background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    /* color:var(--main-color); */
    font-size: 80px;
    
}
.btn-primery{
    padding: 21px 40px;
    border-radius: 48px;
   background-color:var(--main-color);
   color: white;
   font-size: 20px;
   margin:10px 20px 100px 0px;
}
#btn-primery-2{
    background-color: #4EC5F7;
}
.nav-img{
    padding-right:0px;
}
.nav-img img{
    width:80%;
    height:100%;
   
}
/* main section style */

.main-section{
    display: flex;
  
  justify-content: space-around;
  gap: 70px;
  margin: 50px;
}
.main-section-img img {
    width: 100%;
    height: 100%;
    padding-left: 30px;

}
.main-section-contant{
    text-align: right;

}
.main-section-title{
     font-size: var(--title-font-size);
     font-weight: 700;
     background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
        background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
     margin-bottom: 0px;
}
.main-section-discription{
    font-size: var(--discription-font-size);
    font-weight: 400;
    
}
#main-section-button{
    margin-bottom: 0px;
}
.main-sub-section{
    color: #534C64;
    font-size: 20px;
    margin: 0px;
    font-weight: 500;
}
.card-section{
    text-align: center;
    
}
.funny-videos{
        background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
        background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.card-section-title{
      font-size: 40px;
      font-weight: 800;
      margin-bottom: 0px;
}
.card-sub-title{
    color: #534C64;
    font-size: 15px;
    text-decoration: none;
    margin-top: 10px;
    
}
/* card-contant styles */
.card-contant{
    display: flex;
    
    gap: 10px;
    margin: 50px;

}
.card{
    text-align:center;
    
    padding: 10px;
}
.card img {
   width: auto;
   height:200px;
}
/* Play-Instantly-section styles */

.Play-Instantly-section{
    display: flex;
  
    margin:0px 70px;
    
}
.play-img img {
    width:300px;
    margin-left: 50px;
}
#play-img-2{
    width: 60%;
   position: relative;
   bottom: 60px;
}

.Play-contant{
    text-align: center;
    align-items: center;
    height:100%;
    margin: 90px;
    padding: 0px;
    padding-top: 0px;
}
#play-instant{
    color: var(--main-color);
}
/* Play-Games-section styles */

.Play-Games-section{
    display: flex;
    
    margin: 0px 70px;
}
.games-contant{
    text-align: center;
    align-items: center;
    height:100%;
    margin: 90px;
    padding: 0px;
    padding-top: 0px;
}
.games-img img {
    width:300px;
    margin-right: 50px;
}
#games-img-2{
    width: 60%;
    position: relative;
    margin-left: 110px;
    bottom: 50px;
}
/* Careers-container styles */
.Careers-container{
    display: flex;
    
    background-color:aliceblue;
    gap:0px;
    margin: 0px;
    background-color:#f854a9;
}
.careers-img-section{
   margin-right: 20px;
}
.careers-img-section img {
    width: 100%;
    height: 100%;
    
    
    
}
.careers-contant{
    padding: 70px;
    
}
.careers-sub-container{
    display: flex;
    gap: 140px;
}
.careers-sub-container ul{
    padding-left: 0px;

}
.careers-sub-container li {
    list-style: none;
  
}
.careers-sub-1{
    text-align: left;
}
.careers-sub-2{
    text-align: right;
}
.btn-third{
    padding: 17px 30px;
    border-radius: 48px;
    margin: 20px;
    margin-left: 0px;
    background-color: white;
    color: var(--main-color);
}